################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DistributeManager/v16
/DistributeServer/bin/Debug
/DistributeServer/obj/Debug
/DistributeTool/bin/Debug
/DistributeTool/obj/Debug
/DM.Library/bin/Debug/netstandard2.0
/DM.Library/obj
/packages
